.select-plan {
    position: relative;
    height: 100%;
    width: 390px;
    padding-top: 10px;
}

.select-plan h1 {
    color: var(--marineBlue);
    font-size: 25px;
    padding: 30px 0px 10px 0px;
}

.select-plan-description {
    color: var(--coolGray);
    font-size: 14px;
}
.select-plan-price{
    margin-top: 5px;
}

.select-plan-form-radio {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.select-plan-option {
    width: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid var(--coolGray);
    border-radius: 10px;
    cursor: pointer;
}

.select-plan-option:hover {
    border: 1px solid var(--purplishBlue);
    cursor: pointer;
}

.select-plan-option img {
    width: 30px;
}

.select-plan-option.active {
    background-color: var(--alabaster);
    border: 1px solid var(--purplishBlue);
}

.select-plan label {
    display: block;
    margin-top: 30px;
    color: var(--marineBlue);
    font-weight: 500;
    cursor: pointer;
}

.select-plan-option span {
    font-size: 12px;
    color: var(--coolGray);
}

.select-plan-time {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
    text-align: center;
    background-color: var(--alabaster);
    border-radius: 5px;
}
.select-plan-time img{
    height: 25px;
    fill: var(--marineBlue);
}

.select-plan-time span {
    color: var(--coolGray);
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    font-weight: 700;
}

.select-plan-time-option {
    color: var(--marineBlue) !important;
    cursor: pointer;
}

.select-plan .btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.select-plan .btn-secondary {
    position: absolute;
    bottom: 0;
    left: 0;
}
.free-month{
    font-size: 12px;
    color: var(--marineBlue);
    margin-top: 5px;
}